.notificationContainer {
  padding-top: 95px;
}

.notificationHeader {
  color: gray;
}

.notificationsContainer {
  max-width: 850px;
  margin: 20px auto;
}

.notificationContainer .notificationsContainer > div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.notificationContainer .notificationsContainer > div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.eachNotification {
  border: 0.5px solid rgba(128, 128, 128, 0.171);
  padding: 10px 30px 10px 30px;
  position: relative;
}

.messageContainer {
  width: 500px;
  margin-left: 30px;
  padding-right: 8px;
}

.unreadSign {
  background-color: teal;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 10px;
  display: none;
}
.avatarImage {
  width: 48px;
  height: 48px;
}

.showUnseenSign {
  display: block;
}

/* Responsive */
@media only screen and (max-width: 900px) {
  .notificationsContainer {
    width: 90%;
  }
}
@media only screen and (max-width: 797px) {
  .messageContainer {
    width: 60%;
  }
}
@media only screen and (max-width: 550px) {
  .eachNotification {
    padding: 10px 10px 10px 30px;
  }
  .messageContainer {
    font-size: 14px;
    margin-left: 15px;
  }
  .timeAndDate {
    font-size: 12px;
  }
}
