.bg-img1 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.781), #f2f2f3) 100%,
    url(../../../../../../public/assets/images/banner-image.svg);
  background-color: #ffffff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* #b1bce6e8 */

.text-color {
  color: rgb(90, 89, 89);
}
