.bg-img1{
    background: linear-gradient(180deg, #f0eff1a1, #fffafa) 100%,
    url(../../../../../../public/assets/images/banner-image.svg);
  background-color: #010101;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
