/* NAVBAR  STYLE */
.navbar li {
  margin: 0 5px;
}
.navbar li:last-child {
  margin: 0;
}
.navbar li a {
  font-weight: 500;
  color: rgb(11, 109, 161);
  transition: all ease-in 0.3s;
  padding: 9px 18px;
  border-radius: 4px;
}
.navbar li a:hover {
  background-color: #2933c3;
  color: #fff;
}

.nav-active {
  background-color: rgba(255, 255, 255, 0.904);
  box-shadow: 5px -1px 8px -6px grey;
  transition: 0.3s ease-in-out;
  z-index: 100;
}

/* .navbar a {
    color: black;
  } */

/* RESPONSIVE STYLE */
@media only screen and (max-width: 768px) {
  .navbar li {
    margin: 18px 15px;
  }
}
