/* USERFLOW CARD ICON STYLE */
.ac-create-icon {
  font-size: 60px;
  display: inline-block;
  color: #414cda;
  position: relative;
  width: 90px;
  height: 90px;
  z-index: 1;
  text-align: center;
}
.ac-create-icon::after {
  position: absolute;
  content: "";
  left: -5px;
  top: 20px;
  background-color: blueviolet;
  z-index: -1;
  width: 70%;
  height: 70%;
  opacity: 0.5;
  border-radius: 50%;
  transition: all ease-in-out 0.4s;
}
.flow-1:hover .ac-create-icon::after,
.flow-2:hover .ac-create-icon::after,
.flow-3:hover .ac-create-icon::after {
  width: 35%;
  height: 35%;
  opacity: 1;
}
/* USERFLOW ARROW ICON STYLE */
.rotted-down {
  transform: rotate(30deg);
  font-size: 34px;
  opacity: 0.5;
}
.rotted-up {
  transform: rotate(-30deg);
  font-size: 34px;
  opacity: 0.5;
}
.rotted-solid {
  font-size: 34px;
  opacity: 0.5;
}
